<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#127881 Tech Blog &#127881
      </h1>
      <div class="navbar">
        {{#if logged_in}}
        <button id="logout">Logout</button>
        {{/if}}
        <a href="#" class="homepage"></a>
        <a href="#" class="dashbaord"></a>
      </div>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
    {{#if logged_in}}
    <script src="/public/logout.js"
    {{/if}}
  </div>
</body>

</html>