<h2>Create a Blog</h2>

<form class="blog-form">
    <div>
    <label for="title">Title: </label>
    <input class="form-input" type="text" id="title" />
    </div>
    <div>
    <label for="content">Content: </label>
    <input class="form-input" type="text" id="content" />
    </div>
    <div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/blogForm.js"></script>