<h2>Update Blog</h2>

<form class="blog-form">
    <div>
        <label for="title">Title: </label>
        <input class="form-input" type="text" id="title" value={{blog.post_title}} />
    </div>
    
    <div>
        <label for=" content">Content: </label>
        <input class="form-input" type="text" id="content" value={{blog.contents}}  />
    </div>
    <div>
        <button class="update-blog btn btn-primary" type="submit">Update</button>
    </div>

</form>

<script src="/js/blogFormUpdate.js"></script>
