<h2>Create a Blog</h2>

<form class="blog-form">
    <div>
        <label for="title">Title: </label>
        <input class="form-input" type="text" id="title" placeholder="Enter Title here" />
    </div>
    
    <div>
        <label for=" content">Content: </label>
        <input class="form-input" type="text" id="content" />
    </div>
    <div>
        <button class="create-blog btn btn-primary" type="submit">Post</button>
    </div>

</form>
<script src="/js/blogFormCreate.js"></script>