<section class="card">
    <h1>{{comment.post_title}}</h1>
    <p>{{comment.contents}}</p>
    <p>Created By: {{comment.creator_username}}</p>
    <p>Date Created: {{comment.date_created}}</p>
    <form class="comment-form">
        <div>
            <label for="Comment">Comment:</label>
            <input class="form-input" type="text" id="comment" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</section>

<script src="/js/commentForm.js"></script>