<section class="container">
<section class="flex-row justify-center">
    {{log blogs}}
    {{#each blogs}}
    {{>blog-details}}
    {{/each}}
</section>   
<div>
    <button>Create Blog</button>
</div> 
</section>