<h2>Sign In</h2>
<div id="login">
    <form class="login-form">
        <div>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </div>
    </form>
</div>
<div id="signup">
    <form class="signup-form">
        <div>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>